[submodule "mpir"]
	path = mpir
	url = https://github.com/wbhart/mpir
[submodule "Programs/Circuits"]
	path = Programs/Circuits
	url = https://github.com/mkskeller/bristol-fashion
[submodule "simde"]
	path = simde
	url = https://github.com/simd-everywhere/simde
[submodule "OTKeys_004/OTKeys"]
	path = OTKeys_004/OTKeys
	url = https://github.com/diogoftm/OTKeys.git
[submodule "OTKeys_014/OTKeys"]
	path = OTKeys_014/OTKeys
	url = https://github.com/diogoftm/OTKeys.git
